html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 10rem;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
