html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    position: relative;
    max-width: 8rem;
  }
  &__list {
    position: relative;
    display: flex;
    &-item {
      display: inline-block;
      color: #333;
      font-weight: 400;
      margin-left: 4rem;
    }
  }
}
.content {
  position: relative;
  width: 100%;
}
